boto3==1.26.94
botocore==1.29.94
fairscale==0.4.0
iopath==0.1.10
matplotlib==3.7.1
numpy==1.24.2
omegaconf==2.0.6
pandas==1.5.3
psutil==5.9.4
pyarrow==9.0.0
PyYAML==6.0
regex==2022.10.31
sacrebleu==1.5.1
sentencepiece==0.1.97
six==1.16.0
torch==2.0.0
tqdm==4.65.0
zhon==1.1.5
hydra-core==1.0.7